* {
  box-sizing: border-box;
}
/* Create two equal columns that floats next to each other */
.row {
  float: left;
  width: 100%;
  padding: 10px;
  height: auto;
  /* Should be removed. Only for demonstration */
}
.column1 {
  float: left;
  width: 21%;
  padding: 10px;
  height: 450px;
  /* Should be removed. Only for demonstration */
  background-color: rgb(53, 54, 88);
  border: 0;
  margin: 0;
}
.column2 {
  float: left;
  width: 79%;
  padding: 10px;
  height: 450px;
  /* Should be removed. Only for demonstration */
  background-color: #bbb;
  border: 0;
  margin: 0;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.new { /* É o escrito default antes da criação */
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  color: rgb(0, 0, 0, 0.6);
}
img {
  border: 0;
  width: 125px;
  height: auto;
  max-width: 100%;
  border-radius: 50%;
  transform: rotate(20deg);
}
.column1 .user-info--img {
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.column2 .user-name{
  font-size: 35px;
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline rgba(36, 34, 34, 0.6);
}
.phone{
  display: flex;
  align-self: center;
  padding-top: 5px;
}
.email-1{
  display: flex;
  align-self: center;
  padding-top: 5px;
}
.email-2{
  display: flex;
  align-self: center;
  padding-top: 5px;
}
i {
  padding-right: 5px;
  size: 10px;
}
.divider{
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 1px;
  background-color: #bbbbbb;
}