.footer {
  background-color: var(--color-bg-black-second);
  width: 100%;
  height: 50px;
  left: 0px;
  bottom: 0px;
}

.copyright {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: var(--color-white-first);
  height: 100%;
  font-size: 10px;
  line-height: 10px;
}
