.header {
  position: fixed;
  top: 0;
  background-color: var(--color-black-second);
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid var(--color-black-fourth);
  z-index: 100;
}

.header .logo {
  display: inherit;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
}

.header .logo .avatar {
  height: 50px;
  width: 50px;
}

.header .logo .nickname {
  font-size: 22px;
  padding-left: 20px;
  text-shadow: 3px 3px 0px var(--color-black-third);
}

.header .navigation {
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
  line-height: 25px;
  gap: 30px;
}

.header .navigation a {
  font-size: 0.7rem;
}

.header .navigation a[href^="#"] {
  display: block;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 7px 10px;
  border-radius: 10px;
}

.header .navigation a[href^="#"]::before,
.header .navigation a[href^="#"]::after {
  content: "°";
}

.header .navigation a.btn-download-cv {
  display: flex;
  padding: 7px 10px;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid transparent;
  color: var(--color-black-second);
  background-color: var(--color-download-cv);
  filter: drop-shadow(4px 4px 0px var(--color-download-cv-shadow));
}

.header .navigation a[href^="#"]:hover,
.header .navigation a[href^="#"].--active {
  display: block;
  border: 1px solid var(--color-white-first);
  background-color: var(--color-purple);
  color: var(--color-black-first);
  transition: 0.5s;
}

.header .navigation a.btn-download-cv:hover {
  display: block;
  border: 1.5px solid var(--color-white-first);
  transition: 0.5s;
}

.header .mobal-menu {
  display: none;
}
