/** desktop -  */
@media (max-width: 1050px) {
  /** HEADER */
  .header .navigation {
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 0px;
    background-color: var(--color-bg-black-third);
    width: 100%;
    border-top: 5px solid var(--color-black-fourth);
    overflow: hidden;
    max-height: 0px;
    transition: all 300ms linear;
  }

  .header .navigation a,
  .header .navigation a.btn-download-cv {
    display: block;
    text-align: center;
    line-height: 40px;
    padding: 10px 20px;
  }

  .header .mobal-menu {
    position: relative;
    display: block;
    width: 45px;
    height: 40px;
    border: 1px solid var(--color-white-first);
    border-radius: 10px;
    margin-right: 20px;
    cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC")
        14 0,
      pointer;
  }

  .header .mobal-menu span {
    display: block;
    position: absolute;
    left: 50%;
    width: 75%;
    height: 4px;
    background-color: var(--color-white-first);
    transform: translate(-50%, -50%);
    cursor: inherit;
    transition: all 300ms linear;
  }

  .header .mobal-menu span:nth-child(1) {
    top: 20%;
  }

  .header .mobal-menu span:nth-child(2) {
    top: 50%;
  }

  .header .mobal-menu span:nth-child(3) {
    top: 80%;
  }

  .header.--active .navigation {
    max-height: 500px;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .header.--active .mobal-menu span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .header.--active .mobal-menu span:nth-child(2) {
    display: none;
  }

  .header.--active .mobal-menu span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  /** INFO */
  #info .bg {
    position: absolute;
    width: 500px;
    height: 230px;
    left: 50px;
    top: 350px;
    background-color: var(--color-white-first);
    box-shadow: 4px 4px 0px var(--color-black-first);
    filter: blur(40px);
  }

  #info .text {
    position: relative;
    width: 500px;
    height: 230px;
    left: 40px;
    top: 350px;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--color-black-first);
  }

  #info .text .title {
    font-size: 0.95rem;
  }

  /** ABOUT  */
  #sobre .main img {
    margin-left: 90px;
  }

  #sobre .main .container {
    margin-right: 90px;
  }

  /** SKILLS */
  #skills .container {
    justify-content: center;
  }
}

/** tablet/laptop */
@media (max-width: 768px) {
  /** INFO */
  #info .bg {
    top: 650px;
  }

  #info .text {
    top: 650px;
  }

  /** SKILLS */
  #skills .container {
    justify-content: left;
    margin-left: 25px;
  }
}

/** phone */
@media (max-width: 480px) {
  /** HEADER */
  .header .logo .nickname {
    font-size: 1rem;
  }
  /** INFO */
  #info .bg {
    width: 100%;
    left: 0px;
  }

  #info .text {
    width: 100%;
    left: 0px;
  }

  /** SKILLS */
  #skills .container {
    justify-content: left;
    margin-left: 5px;
  }

  /** ABOUT  */
  #sobre .main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #sobre .main img {
    margin-left: 0px;
    margin-bottom: 20px;
  }

  #sobre .main .container {
    margin-right: 0px;
    margin-left: 0px;
  }

  #sobre .main .container span {
    margin-left: 0px;
  }

  /** PROJECTS */
  #projetos ul {
    flex-direction: column;
    padding: 0;
  }

  #projetos li,
  #projetos .container {
    width: 100% !important;
    padding-left: 0px;
    margin-left: 0px;
  }

  #projetos .container .project-item {
    margin: 0px;
    font-size: 0.75rem;
  }

  #projetos .container .description span {
    font-size: 0.65rem;
  }

  .top,
  .top img {
    height: 25px;
    width: 25px;
  }
}
