.b-tooltip {
  border: 3px solid #fff;
  border-radius: 20px;
  display: inline-block;
  font-size: 0.875em;
  padding: 0.75em;
  position: absolute;
  text-align: center;
}

.b-tooltip-light {
  background: #eaeaea;
  background: linear-gradient(to bottom, #fdfdfd 0%, #eaeaea 100%);
  box-shadow: 0px 0px 6px 2px rgba(110, 110, 110, 0.4);
  color: #242424;
}

.b-tooltip-dark {
  background: #242424;
  background: linear-gradient(to bottom, #6e6e6e 0%, #242424 100%);
  box-shadow: 0px 0px 6px 2px rgba(110, 110, 110, 1);
  color: #fff;
}
